[2021-09-30 18:21] manan025 opened #2 "Binary Search"
## 🚀 Feature

Implement Binary Search taking array as input and finding a element taken as input.

### Have you read the Contribution Guidelines?

Yes

## Pitch

One of the most used searching algorithm.

[2021-09-30 18:38] Safwan310 commented on #2
Hey @manan025 . Can I implement binary search in Java?

[2021-09-30 18:40] Safwan310 commented on #2
What else should be added? Pseudocode? Time Complexity? or just the code?

[2021-09-30 19:34] Palak-2109 commented on #2
hey.! I want to claim this issue. I'll implement binary search in c++.

[2021-09-30 19:38] manan025 commented on #2
Assigned to:
@Safwan310 - Java
@Palak-2109 - C++

You can find sample code here: https://github.com/manan025/DS-Algo-Zone/tree/main/CPP (README.md and binary_search.cpp)

[2021-09-30 19:45] crapthecoder opened #4 "Shortest Path in Unweighted Graph using BFS"
## 🚀 Feature

Shortest path from one node to another node in an unweighted graph using Breadth First Search.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Complexity of this algorithm: O(N)
Complexity of Dijkstra algorithm: O(N^2) when unoptimized, or O(N log N) when optimized using Priority Queue.

This algorithm is faster than the popular Dijkstra Algorithm, and is also far sim

[2021-09-30 19:48] crapthecoder commented on #4
I would like to tackle this problem using Python

[2021-09-30 19:49] manan025 commented on #4
Assigned to:
@crapthecoder - Python

[2021-09-30 20:21] shubhamnag14 commented on #4
Can I work in this issue using c++

[2021-09-30 20:26] crapthecoder opened #6 "Union-Find Data Structure (UFDS)"
## 🚀 Feature

Union-Find Data Structure (also known as Disjoint Set Union) is a fast data structure to add, merge, or find a the head of a set.

### Have you read the Contribution Guidelines?

Yes

## Pitch

UFDS can be used to find cycles, connected components, and many more.

[2021-09-30 20:27] crapthecoder commented on #6
Python

[2021-09-30 20:37] manan025 commented on #4
@shubhamnag14 Sure.

[2021-09-30 20:39] ShivangiRai1310 commented on #4
Can I work on this using Java?

[2021-09-30 20:39] manan025 commented on #4
@ShivangiRai1310 Sure

[2021-10-01 00:44] mendoza commented on #2
hi, i would love to help, let me resolve the javascript and python

[2021-10-01 02:20] TarushS commented on #2
Hi, can I implement binary search in python?

[2021-10-01 03:01] SOURAB-BAPPA commented on #2
i want to implemtn binary search in Go,pyhton,java,c++

[2021-10-01 03:11] manan025 commented on #2
@TarushS assigned python

[2021-10-01 03:12] manan025 commented on #2
@mendoza - Javascript

@SOURAB-BAPPA - Go

[2021-10-01 03:14] manan025 commented on #2
@SOURAB-BAPPA once you create pr for Go, you may post your request for any other language.

[2021-10-01 03:15] AparnaJuhi opened #9 "Row with minimum number of 1's"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

Yes

## Pitch

It is one of the famous problem asked in Amazon interview, in which we need to find the row minimum number of 1s in a matrix

[2021-10-01 03:15] AparnaJuhi commented on #9
Please assign this issue to me

[2021-10-01 03:17] manan025 commented on #9
@AparnaJuhi please tell which language you want to work on.

[2021-10-01 03:19] AparnaJuhi commented on #9
C++

[2021-10-01 03:24] manan025 commented on #9
@AparnaJuhi - C++ Assigned

[2021-10-01 03:32] anurag-bhatt commented on #9
I want to contribute in JAVA

[2021-10-01 03:33] manan025 commented on #9
@anurag-bhatt assigned java 👍

[2021-10-01 03:50] codenipun commented on #2
Hello i want to contribute in this using C++ . Please assign it to me.

[2021-10-01 03:53] manan025 commented on #2
@codenipun The issue has already been assigned to someone else for C++. You may contribute in any other language/ other issue/ create your own issue.

[2021-10-01 03:56] SOURAB-BAPPA opened #13 "Longest Substring Without Repeating Characters"
## 🚀 Feature
Given a string **s**, find the length of the longest substring without repeating characters.

Example 1:
Input: s = "abcabcbb"
Output: 3
Explanation: The answer is "abc", with the length of 3.

Example 2:
Input: s = "bbbbb"
Output: 1
Explanation: The answer is "b", with the length of 1.

Example 3:
Input: s = "pwwkew"
Output: 3
Explanation: The answer is "wke", with the length of 3.
N

[2021-10-01 03:56] SOURAB-BAPPA commented on #13
I want to solve this issue in python,c++,java

[2021-10-01 03:57] manan025 commented on #13
Only one language at a time @SOURAB-BAPPA.

Assigned Python - @SOURAB-BAPPA

[2021-10-01 03:58] SOURAB-BAPPA commented on #13
Thank you

[2021-10-01 03:58] saiteja-2731 commented on #9
Can I write the code in C++?

[2021-10-01 04:01] codenipun commented on #2
@manan025 i can do this in using Kotlin. please assign.

[2021-10-01 04:01] manan025 commented on #9
@saiteja-2731 The issue has been assigned to someone else for C++. You may create your own issue/ work in any other issue or language.

[2021-10-01 04:02] manan025 commented on #2
@codenipun - Kotlin assigned

[2021-10-01 04:05] shashank-suresh commented on #2
Hi! I would like to contribute to this using C. Could you please assign it to me?

[2021-10-01 04:07] manan025 opened #14 "Palindrome Check"
## 🚀 Feature

Will check if the string is palindrome i.e. if the original string is the same as the string after reversing.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Basic algorithm

## Assignees

C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 04:09] manan025 commented on #2
@shashank-suresh - C assigned.

[2021-10-01 04:10] pabloescoder commented on #14
I can work on this in Java, can you assign me?

[2021-10-01 04:13] manan025 commented on #14
@pabloescoder - Java Assigned

[2021-10-01 04:17] Anurag331 commented on #14
I can work on this in c++,can you assign me?

[2021-10-01 04:18] manan025 commented on #14
@Anurag331 sure

[2021-10-01 04:18] ajaynair710 commented on #14
I can work on this in python, Can you assign me?

[2021-10-01 04:21] anushkarthik05 commented on #14
I can do this in C. Can you assign me? @manan025

[2021-10-01 04:22] manan025 commented on #14
@anushkarthik05  - C assigned

[2021-10-01 04:22] manan025 commented on #14
@ajaynair710 - Python assigned

[2021-10-01 04:23] saiteja-2731 commented on #9
Okay

[2021-10-01 04:24] anurag-bhatt opened #16 "Min number of 1s in java"
## 🚀 Feature

The java program find the row with least number of rows and print them along with their elements

### Have you read the Contribution Guidelines?

YES

## ISSUE
ISSUE #9 solved

[2021-10-01 04:27] saiteja-2731 commented on #13
Can you assign me it for C++?

[2021-10-01 04:28] siddharthgangwar25 commented on #13
Can you assign me in C or C++?

[2021-10-01 04:29] manan025 commented on #16
Please create PR for the code.

[2021-10-01 04:29] #16 closed

[2021-10-01 04:34] manan025 commented on #13
@saiteja-2731 - C++
@siddharthgangwar25 - C
Assigned 👍

[2021-10-01 04:56] Palak-2109 opened #21 "unbounded knapsack"
## 🚀 Feature

Adding codes and explanation of unbounded knapsack using top down array-DP.

### Have you read the Contribution Guidelines?

yes

## Pitch

DP plays an important role during competitive programming .Thus, thought to add this one.

[2021-10-01 05:03] manan025 commented on #21
@Palak-2109 - C++ Assigned

[2021-10-01 05:05] Onkar627 commented on #14
@manan025 I can work on Javascript.

[2021-10-01 05:06] SOURAB-BAPPA commented on #14
I want to solve this in Go programming

[2021-10-01 05:09] manan025 commented on #14
@Onkar627 - Javascript
@SOURAB-BAPPA - Go
assigned

[2021-10-01 05:15] KMayank02 opened #24 "Stack implementation using array"
## 🚀 Feature

Implement stack in c using array and perform various stack operations.

### Have you read the Contribution Guidelines?

Yes

## Pitch

One of the basic data structures when getting started with dsa

[2021-10-01 05:15] Manogya08 opened #25 "Could work on adding few More Searching and sorting algo"

[2021-10-01 05:17] manan025 commented on #24
@KMayank02 - C Assigned

[2021-10-01 05:20] manan025 commented on #25
@Manogya08 Sure, make sure you make issue for the particular sorting algorithm and once you are assigned with a programming language, you can create PR for that issue.
Also, make sure you make different PRs for different issues/ programming languages.

[2021-10-01 05:30] jagritvats commented on #25
Can I work on Linear Search in CPP?

[2021-10-01 05:33] manan025 commented on #25
@jagritvats sure, I'll create issue for Linear Search and assign you.

[2021-10-01 05:36] manan025 opened #28 "Linear Search"
## 🚀 Feature

Linear Search - search for the element matching each element in the array.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Basic Searching Algorithm

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -   @jagritvats
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 05:37] manan025 commented on #28
@jagritvats - C++

[2021-10-01 05:42] krishna16sharma commented on #28
Can I contribute the python code?

[2021-10-01 05:44] manan025 commented on #28
@krishna16sharma sure
Assigned Python to you

[2021-10-01 05:44] jagritvats commented on #28
Sure

[2021-10-01 05:44] saiteja-2731 commented on #24
Can you assign me C++?

[2021-10-01 05:45] lokeshn011101 commented on #28
@manan025 Can I do this for JavaScript?

[2021-10-01 05:46] manan025 commented on #24
@saiteja-2731 - C++ assigned

[2021-10-01 05:47] manan025 commented on #28
@lokeshn011101
Sure, assigned JS to you

[2021-10-01 05:53] jaisat commented on #21
Hey I want to contribute Can you please assign me this issue

[2021-10-01 05:53] Jvs21 commented on #28
I would ike to contrbute in Java

[2021-10-01 05:53] nithintata commented on #24
@manan025 Can you assign java to me?

[2021-10-01 05:55] jaisat commented on #6
Hey I want to contribute in cpp

[2021-10-01 05:56] nithintata commented on #13
@manan025 i can work on java

[2021-10-01 05:59] manan025 commented on #21
@jaisat which language?

[2021-10-01 06:00] manan025 commented on #28
@Jvs21 assigned java

[2021-10-01 06:00] Rushijaviya commented on #24
@manan025 can you assign python to me?

[2021-10-01 06:00] shashank-suresh commented on #28
Could I be assigned the C implementation for this?

[2021-10-01 06:01] jaisat commented on #21
C++

[2021-10-01 06:01] manan025 commented on #6
@jaisat assigned CPP

[2021-10-01 06:02] Rushijaviya commented on #9
@manan025  Please assign this issue to me for python language.

[2021-10-01 06:02] manan025 commented on #13
@nithintata - Assigned Java

[2021-10-01 06:05] manan025 commented on #24
@Rushijaviya - Python assigned

[2021-10-01 06:06] manan025 commented on #24
@nithintata - Java assigned

[2021-10-01 06:06] mtwn105 commented on #9
Hi Can I do it for Javascript?

[2021-10-01 06:07] manan025 commented on #28
@shashank-suresh - C assigned

[2021-10-01 06:08] manan025 commented on #21
@jaisat C++ - Assigned

[2021-10-01 06:09] manan025 commented on #21
Oops @jaisat C++ is already assigned.

[2021-10-01 06:13] manan025 commented on #9
@mtwn105 - JS assigned

[2021-10-01 06:14] mtwn105 commented on #14
@manan025 Can you assign me for C#?

[2021-10-01 06:14] manan025 commented on #9
@Rushijaviya - Python assigned

[2021-10-01 06:20] NeerajKumar201 commented on #28
Hi can I contribute in kotlin?

[2021-10-01 06:22] manan025 commented on #28
@NeerajKumar201 - Kotlin assigned

[2021-10-01 07:10] mtwn105 commented on #9
Hi @manan025 Implemented for JS in PR #50

[2021-10-01 07:10] mtwn105 commented on #14
Hi @manan025 Implemented for C# in PR #49

[2021-10-01 07:11] Jvs21 opened #51 "Selection Sort"
## 🚀 Feature

Selection Sort - an algorithm used to sort an array.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Basic Sorting Algorithm

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 07:11] Jvs21 commented on #51
@manan025  would like to contribute in java

[2021-10-01 07:16] SOURAB-BAPPA commented on #51
i want to solve in python

[2021-10-01 07:19] manan025 commented on #51
@Jvs21 - Java
@SOURAB-BAPPA - Python
assigned

[2021-10-01 07:20] Sahilnegi-code commented on #51
I want to contribute in c++

[2021-10-01 07:20] Sahilnegi-code commented on #51
pls assign me

[2021-10-01 07:24] Sahilnegi-code commented on #2
assign me this issue.

[2021-10-01 07:25] manan025 commented on #51
@Sahilnegi-code - C++ assigned

[2021-10-01 07:27] manan025 commented on #2
Which language do you want to work on?

[2021-10-01 07:48] Jvs21 opened #60 "Merge Sort for Arrays"
## 🚀 Feature

Merge Sort  - a popular sorting algorithm to sort arrays.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Basic Sorting Algorithm

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 07:48] Jvs21 commented on #60
@manan025  would like to contribute in java

[2021-10-01 07:50] vinayakj592 commented on #51
@manan025 I would like to contribute in C

[2021-10-01 07:51] vinayakj592 commented on #60
@manan025 I would like to contribute in C++

[2021-10-01 07:52] manan025 commented on #60
@Jvs21 - Java
@vinayakj592 - C++
assigned

[2021-10-01 07:53] manan025 commented on #51
@vinayakj592 - C assigned

[2021-10-01 07:54] manan025 opened #62 "Quick Sort"
## 🚀 Feature

Sorting algorithm - QuickSort

### Have you read the Contribution Guidelines?

Yes

## Pitch

Standard sorting algorithm

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python - @TejasAnand

[2021-10-01 07:57] vinayakj592 commented on #62
@manan025 I would like to contribute in Java

[2021-10-01 07:58] manan025 commented on #62
@vinayakj592 - Java assigned

[2021-10-01 08:13] vinayakj592 commented on #62
@manan025 I would like to contribute in C++ as well !

[2021-10-01 08:16] pabloescoder commented on #51
I would like to contribute in JavaScript

[2021-10-01 08:35] anushkarthik05 commented on #62
I would like to contribute in C. Can you assign me? @manan025

[2021-10-01 08:41] Athi223 commented on #62
@manan025 I would like to contribute in Javascript

[2021-10-01 08:49] parth93QA commented on #60
Would like to contribute in GO. @manan025

[2021-10-01 08:53] cb4d commented on #14
Hi - I'd like to pick this up in kotlin if that's possible.

[2021-10-01 08:58] manan025 commented on #51
@pabloescoder - Javascript assigned

[2021-10-01 08:59] manan025 commented on #62
@Athi223 - JS assigned

[2021-10-01 08:59] manan025 commented on #60
@parth93QA - Go assigned

[2021-10-01 09:00] Onkar627 commented on #60
@manan025 can you assign me this task for javascript?

[2021-10-01 09:00] manan025 commented on #14
Sure @cb4d - Kotlin assigned

[2021-10-01 09:01] manan025 commented on #60
@Onkar627 - JS  Assigned

[2021-10-01 09:20] Jvs21 opened #68 "Kadane’s Algorithm: Largest Sum Contiguous Subarray"
## 🚀 Feature

Implement Kadane’s Algorithm to find the sum of contiguous subarray within a one-dimensional array of numbers that has the largest sum.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Uses O(1) space and takes O(n) time.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 09:20] Jvs21 commented on #68
@manan025  Would like to contribute in Java

[2021-10-01 09:21] tm2k23 commented on #68
Hey, I would like to contribute in C++, please assign it to me.

[2021-10-01 09:34] Nirajn2311 commented on #24
I'll do it in Javascript

[2021-10-01 09:35] Anurag331 commented on #14
@manan025 I have Commited The Palindrome Check Changes in C++ but while pushing i am getting this error
remote: Permission to manan025/DS-Algo-Zone.git denied to Anurag331.
fatal: unable to access 'https://github.com/manan025/DS-Algo-Zone.git/': The requested URL returned error: 403
Can You Please Help Me With This

[2021-10-01 09:43] anushkarthik05 commented on #68
@manan025 I would like to contribute in Python

[2021-10-01 09:51] lokeshn011101 commented on #21
@manan025 Can you assign me for JavaScript?

[2021-10-01 09:56] manan025 commented on #60
@Yasas4D Python assigned

[2021-10-01 09:58] manan025 commented on #14
@Anurag331 Can you retry? Or maybe use github.com to make changes.

[2021-10-01 10:00] manan025 commented on #68
@Jvs21 - Java
@tm2k23 - C++
@anushkarthik05 - Python
assigned

[2021-10-01 10:00] manan025 commented on #21
@lokeshn011101 Javascript assigned

[2021-10-01 10:04] wimanshaherath commented on #62
@manan025 I would like to contribute in C++.  Can you assign me?

[2021-10-01 10:32] manan025 commented on #62
@wimanshaherath - CPP assigned

[2021-10-01 10:32] Onkar627 commented on #60
@manan025 there is a merge conflict error popping up so you could unassigned mr ;)

[2021-10-01 10:34] manan025 commented on #60
@Onkar627 no issues. Will look into it and will unassign if no PR is found otherwise I'll solve the conflict.

[2021-10-01 10:40] Onkar627 commented on #60
Thanks bud @manan025

[2021-10-01 10:40] vedant-jain03 commented on #4
@manan025 I want to work on this?

[2021-10-01 10:43] Devenkapoor7303 commented on #13
@manan025 I can work in javascript

[2021-10-01 10:43] vedant-jain03 opened #78 "Djikstra's Algorithm"
## 🚀 Feature

Implement Djikstra's Algorithm to find the single source shortest path in graph.

### Have you read the Contribution Guidelines?

yes

## Pitch

Using set and unordered map and distance vector.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 10:43] vedant-jain03 commented on #78
@manan025 Want to work in C++

[2021-10-01 10:57] JatinKumarMahaldar commented on #62
@manan025 I would like to work in c . can you please assign me ?

[2021-10-01 11:03] manan025 commented on #4
@vedant-jain03 language?

[2021-10-01 11:04] manan025 commented on #13
@Devenkapoor7303 - Javascript

[2021-10-01 11:05] manan025 commented on #78
@vedant-jain03 Sure assigned

[2021-10-01 11:05] ishika22 opened #81 "Floyd's alogorithm"
## 🚀 Feature
This algorithm helps us to detect and remove cycles from a linked list

### Have you read the Contribution Guidelines?
Yes

## Pitch
This can be obtained by using 2 nodes -  fast and slow which can detect loops and also remove them if present

[2021-10-01 11:06] manan025 commented on #62
@JatinKumarMahaldar Sure Assigned C

[2021-10-01 11:06] ishika22 commented on #81
@manan025 I can work in JAVA for the above problem

[2021-10-01 11:08] manan025 commented on #62
Oops, I'm sorry. I didn't see your comment @anushkarthik05. Now as someone else has been assigned, you can create an issue/ work on any other language/ issue.

[2021-10-01 11:09] manan025 commented on #81
Sure @ishika22 - Assigned Java.

[2021-10-01 11:10] Athi223 commented on #62
@manan025 I have created the PR for JS implementation, could you please check if it is okay or any modification is required?

[2021-10-01 11:13] yashikajotwani12 commented on #78
I want work in python for this issue, please assign

[2021-10-01 11:14] ishika22 opened #83 "N Queen Problem Backtracking"
## 🚀 Feature
We need to place N chess queens on an N×N chessboard so that no two queens attack each other.

### Have you read the Contribution Guidelines?
Yes

## Pitch
This is a very common problem which uses the concept of backtracking. Initially we can mark a box as taken and if in further steps we find that the queen might be attacked, we can backtrack and remove our queen from that position.

[2021-10-01 11:14] Yasas4D commented on #60
Thanks, @manan025 ..Merge sort for python is added and updated the Readme file.

[2021-10-01 11:14] ishika22 commented on #83
@manan025 I would like to work on the above problem using JAVA

[2021-10-01 11:14] manan025 commented on #62
@Athi223 I'll review PRs after 10pm IST. Be assured, it won't hamper your hacktoberfest progress.

[2021-10-01 11:14] yashikajotwani12 commented on #81
I want to work in c++ for this issue, please assign

[2021-10-01 11:15] manan025 commented on #81
@yashikajotwani12 - Assigned cpp

[2021-10-01 11:16] manan025 commented on #78
@yashikajotwani12 assigned python

[2021-10-01 11:16] vedant-jain03 commented on #81
I want to work in Python

[2021-10-01 11:16] manan025 commented on #81
@vedant-jain03 - Assigned Python

[2021-10-01 11:18] manan025 commented on #60
@Yasas4D I'll review PRs after 10pm IST. Be assured, It won't hamper your progress in Hacktoberfest.

[2021-10-01 11:19] manan025 commented on #83
Sure, @ishika22 - Java
Assigned

[2021-10-01 11:21] Yasas4D commented on #60
Okay! Thank you

[2021-10-01 11:21] sachin4627 opened #86 "Longest substring without repeating characters"
Hey, I am participating in hacktoberfest, I world like to contribute Longest substring without repeating characters problem for string ,could you please assigned it to me.

[2021-10-01 11:21] yashikajotwani12 opened #87 "Maximum Sum Increasing Subsequence"
## 🚀 Feature

Maximum Sum Increasing Subsequence (Dp)

### Have you read the Contribution Guidelines?

Yes

## Pitch

Implementing this by using Dynamic Programming Approach

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 11:21] vedant-jain03 commented on #83
I want to work in C++

[2021-10-01 11:22] vedant-jain03 commented on #87
Assign me in python

[2021-10-01 11:23] sgaurav37533 commented on #83
Hey @manan025 assign me this problem in Kotlin

[2021-10-01 11:24] manan025 commented on #86
@sachin4627, Please comment on #13 with the language you want to work on.

[2021-10-01 11:24] #86 closed

[2021-10-01 11:25] manan025 commented on #87
@yashikajotwani12 - C++
@vedant-jain03 - Python
Assigned

[2021-10-01 11:25] sachin4627 opened #88 "Kaden's algorithm"
Hey,  I am Participating in hacktoberfest, I would like to contribute Kaden's algorithm, Could you please assigned it to me.
Thank you!

[2021-10-01 11:25] manan025 commented on #83
@sgaurav37533 - Kotlin assigned

[2021-10-01 11:26] manan025 commented on #83
@vedant-jain03 - C++ assigned

[2021-10-01 11:28] manan025 opened #89 "Kaden's Algorithm"
## 🚀 Feature

Kaden's algorithm

### Have you read the Contribution Guidelines?

Yes

## Pitch

.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 11:28] manan025 commented on #88
@sachin4627 comment on #89 with the language you want to work on.

[2021-10-01 11:28] #88 closed

[2021-10-01 11:29] Yasas4D commented on #60
@manan025 Can you please assign me to C language as well.

[2021-10-01 11:31] sachin4627 commented on #89
I would like to contribute in java

[2021-10-01 11:31] yashikajotwani12 commented on #89
I would like to contribute in c++. Please assign me

[2021-10-01 11:36] vedant-jain03 opened #92 "Bi-partite Graph"
## 🚀 Feature

the graph such that we can divide the graph into 2 different subset or we can color every node of the graph such that two adjacent node should not have same color.

### Have you read the Contribution Guidelines?

Yes

## Pitch

using dfs and unordered map

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python

[2021-10-01 11:36] vedant-jain03 commented on #92
I want to work on C++

[2021-10-01 11:39] sachin4627 opened #93 "Linked list is palindrome"
## 🚀 Feature

Check if a singly linked list is palindrome

### Have you read the Contribution Guidelines?

Yes

## Pitch

I would like to contribute the program for check if a singly linked list is palindrome in java, could you please assign it to me.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 11:42] manan025 commented on #60
@Yasas4D sure

[2021-10-01 11:43] manan025 commented on #89
@sachin4627 - Java
@yashikajotwani12 - C++ assigned

[2021-10-01 11:44] Yasas4D commented on #60
Thank you!

[2021-10-01 11:45] manan025 commented on #92
Sure

[2021-10-01 11:46] manan025 commented on #93
@sachin4627 assigned Java

[2021-10-01 11:47] sudhir512kj commented on #89
@manan025 I would like to work on this using Python.

[2021-10-01 11:49] yashikajotwani12 commented on #93
I want to work in c++, Please assign

[2021-10-01 11:51] sudhir512kj commented on #21
@manan025 I would like to work on this using Python.

[2021-10-01 11:53] Devenkapoor7303 commented on #13
@manan025 I have added the answer for Javascript
https://github.com/manan025/DS-Algo-Zone/pull/97

[2021-10-01 11:57] sudhir512kj commented on #93
@manan025 I would like to work on this using Python.

[2021-10-01 12:08] LalithyaManasaPatri commented on #87
Please assign me this issue in Java.

[2021-10-01 12:15] manan025 commented on #87
@LalithyaManasaPatri - Java

[2021-10-01 12:28] manan025 commented on #89
@sudhir512kj - Python assigned

[2021-10-01 12:28] manan025 commented on #21
@sudhir512kj python assigned

[2021-10-01 12:29] manan025 commented on #13
@Devenkapoor7303 I'll review PRs after 10pm IST. Be assured, It won't hamper your progress in Hacktoberfest.

[2021-10-01 12:30] manan025 commented on #93
@sudhir512kj assigned python

[2021-10-01 12:30] manan025 commented on #93
@yashikajotwani12 Assigned C++

[2021-10-01 12:39] ishika22 commented on #81
Floyds Algorithm for removal of loop #104

[2021-10-01 12:52] ishika22 opened #108 "Vertical Traversal of Binary tree"
## 🚀 Feature
We will be printing a binary tree in vertical order.
Input:
![image](https://user-images.githubusercontent.com/35271444/135622621-e83ed3fb-ba3b-4278-93d7-d1743d7d0132.png)
**Output**: 4,2,1,5,3,6
**Explanation**:
As we can see there are 5 vertical lines which can pass through the tree -
1st vertical line - 4
2nd vertical line - 2
3rd vertical line - 1,5
4th vertical line - 3
5th verti

[2021-10-01 12:53] ishika22 commented on #108
@manan025 I would like to take up this problem in JAVA

[2021-10-01 12:59] Yasas4D commented on #60
Done!

[2021-10-01 13:03] manan025 commented on #108
@ishika22 Java assigned

[2021-10-01 13:20] sumanthtatipamula commented on #9
Hi @manan025, I want to contribute in Kotlin

[2021-10-01 13:33] AmbikeshArman opened #112 "0/1 Knapsack"
## 🚀 Feature

Implementing 0/1 knapsack in cpp and analysing its complexities

### Have you read the Contribution Guidelines?

Yes

## Pitch

DP plays an important role during CP. Therefore, adding it.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 13:36] vinayakj592 commented on #112
I would like to contribute in Java

[2021-10-01 14:09] LikhithaTadikonda opened #113 "Tower of Hanoi (Recursive,Non-Recursive)"
## 🚀 Feature
Tower of Hanoi Algo. Using Recursive and Non-Recursive 3 discs
(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?
(Yes.)

## Pitch
Since it is asked in a lot of interviews. It is important to know about it and  I have codes working up to 3 disc.
Assign this to me for C.

## Assignees

(Do not make changes in this sectio

[2021-10-01 14:23] madhurmehta007 commented on #2
Please assign me this I can do it in kotlin

[2021-10-01 14:23] Onkar627 commented on #113
@manan025 I can do this in Java

[2021-10-01 14:23] Onkar627 commented on #113
@manan025 Can you assign this to me under Java.

[2021-10-01 14:24] anushkarthik05 commented on #113
Can you assign me this issue under C++? @manan025

[2021-10-01 14:27] AmbikeshArman commented on #112
I want to contribute in cpp. pls assign it to me

[2021-10-01 14:35] LikhithaTadikonda commented on #113
@manan025 Please assign this to me.

[2021-10-01 14:46] Sachin-Liyanage commented on #93
I want to work in c#, Please assign

[2021-10-01 14:52] Sachin-Liyanage commented on #62
@manan025 I would like to contribute in C#

[2021-10-01 15:03] manan025 commented on #9
@sumanthtatipamula - Kotlin - Assigned

[2021-10-01 15:08] manan025 commented on #2
@madhurmehta007 Someone else is working on kotlin for this issue.

[2021-10-01 15:09] manan025 commented on #112
@AmbikeshArman - CPP
@vinayakj592 - Java assigned

[2021-10-01 15:24] manan025 commented on #113
@LikhithaTadikonda - Recursive and non recursive - C
(Please make seperate PRs for recursive and non-recursive algos)

[2021-10-01 15:27] Onkar627 commented on #113
@manan025 I am willing to do this task under Java.

[2021-10-01 15:36] manan025 commented on #93
@Sachin-Liyanage - C# - Assigned

[2021-10-01 15:37] manan025 commented on #62
C# Assigned to you @Sachin-Liyanage

[2021-10-01 15:37] manan025 commented on #113
@Onkar627 recursive or non recursive?

[2021-10-01 15:41] jdrodriguezh commented on #113
Hello! @manan025 I would like to to the Java recursive version of this!

[2021-10-01 15:46] manan025 commented on #113
Sure.
@jdrodriguezh Java - Recursive
@Onkar627 - Non recursive - Java

[2021-10-01 15:57] ravi0213 commented on #89
@manan025 I would like to write the algorithm in C lang.

[2021-10-01 16:39] TarushS commented on #113
Please assign me to the python recursive version of this.

[2021-10-01 16:48] Mudit018 commented on #78
@manan025 Want to work in C++

[2021-10-01 16:50] prakharshukla48 commented on #108
@manan025 Please assign python to me .

[2021-10-01 16:50] Mudit018 commented on #24
@manan025 Can you assign me C++

[2021-10-01 16:53] Mudit018 commented on #113
@manan025 I am willing to work for recursive implementation in c++

[2021-10-01 16:56] saiteja-2731 commented on #113
If anyone interested in contributing good problems from DSA in C++ from leetcode or any other platform. Check out this link: [C++ help required](https://github.com/saiteja-2731/DSA-for-Placement-Preparation/issues/2)

[2021-10-01 16:59] Mudit018 opened #120 "DFS Traversal in Undirected Graphs"
## 🚀 Feature

DFS traversal in an Undirected Graph

### Have you read the Contribution Guidelines?

YES

## Pitch

Since it is the backbone of graph theory, so it would be extremely important to include this file

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 16:59] Mudit018 commented on #120
@manan025 Please assign it to me

[2021-10-01 17:01] jAY1jS commented on #113
### **Aim**
Objective of Script
I want to contribute to the Tower of Hanoi problem (Recursive).

### **Details**
Features of the script I will provide
I can provide the solution in Java with clean code.
Can you please assign me this issue under Hacktoberfest?
### **Programming language**

- [ ]  C
- [ ]  C++
- []  Java
- [x]  Python

[2021-10-01 17:02] JatinKumarMahaldar commented on #62
@manan025 I have created PR #118 please have a look ... if any changes required .

[2021-10-01 17:08] manan025 commented on #89
@ravi0213 - C Assigned

[2021-10-01 17:09] manan025 commented on #78
@Mudit018 Sorry, already claimed for cpp.

[2021-10-01 17:09] manan025 commented on #108
@prakharshukla48 - Python assigned

[2021-10-01 17:09] Mudit018 commented on #4
@manan025 I want to work in on this in c++

[2021-10-01 17:10] manan025 commented on #24
@Mudit018 already claimed for cpp

[2021-10-01 17:10] manan025 commented on #120
Sure. C++ - @Mudit018

[2021-10-01 17:13] manan025 commented on #113
@TarushS - Python recursive
@Mudit018 - C++ Recursive
assigned

[2021-10-01 17:14] manan025 commented on #113
@jAY1jS On the basis of first come first serve, the issue for Python Recursion has already been assigned to someone else. Let me know if you want to work non-recursive algorithm.

[2021-10-01 17:15] manan025 commented on #4
@Mudit018 already assigned. Sorry.

[2021-10-01 17:18] sachin4627 commented on #68
@manan025  for java kadane's assign to me, someone else is already merged for java.

[2021-10-01 17:18] saloni33 opened #124 "Insertion And Deletion of Node in Binary Search Tree"
## 🚀 Feature

Insertion And Deletion of Node in Binary Search Tree

### Have you read the Contribution Guidelines?

Yes

## Pitch

Because Binary search trees are implemented efficiently and operations like insertion, deletion are quite faster.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 17:21] CarleenSinton commented on #13
Can you assign me for C#?

[2021-10-01 17:21] jAY1jS commented on #113
yes, I am willing to do a non-recursive algorithm as well.

[2021-10-01 17:21] tm2k23 commented on #108
Hey, please assign C++ to me

[2021-10-01 17:22] manan025 commented on #68
@sachin4627 The algorithm has been written in Java and has been merged to the main repo too. So, I can't assign in the same language again.

[2021-10-01 17:23] manan025 commented on #124
@saloni33 assigned C++.

[2021-10-01 17:24] manan025 commented on #13
@CarleenSinton assigned C#

[2021-10-01 17:25] manan025 commented on #113
@jAY1jS - Python - non recursive assigned

[2021-10-01 17:25] tm2k23 commented on #68
Hey @manan025 since I am a beginner at open-source, I just had a query.
After forking the repo, and merging my pull request, there won't be any effect even if I delete the forked repo from my profile
Right?

[2021-10-01 17:26] manan025 commented on #108
@tm2k23 - assigned cpp

[2021-10-01 17:27] SurendarSingh commented on #113
@manan025 Tower of Hanoi Javascript Recursive

[2021-10-01 17:28] manan025 commented on #68
Once I merge your PR, you can delete forked repo.

[2021-10-01 17:28] manan025 commented on #113
@SurendarSingh - JS Recursive assigned

[2021-10-01 17:29] tm2k23 commented on #68
ok, thank you.

[2021-10-01 17:34] tm2k23 commented on #113
@manan025  please remove cpp label

[2021-10-01 17:37] manan025 commented on #113
@tm2k23 cpp still unassigned for non-recursive approach so I will keep the cpp label.
Thanks though.

[2021-10-01 17:38] tm2k23 opened #127 "K stacks in a single array"
## 🚀 Feature

I would like to add an algorithm that implements K stacks in a single array

### Have you read the Contribution Guidelines?

Yes

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 17:38] tm2k23 commented on #127
@manan025  Please assign C++ to me

[2021-10-01 17:43] manan025 commented on #127
@tm2k23 Sure
C++ assigned

[2021-10-01 17:44] SurendarSingh commented on #25
@manan025 spiral order matrix traversal
If this issue can be created, assign me c++

[2021-10-01 17:45] manan025 commented on #25
@SurendarSingh you can create issue for the same. I'll assign it to you.

[2021-10-01 17:45] #25 closed

[2021-10-01 17:48] SurendarSingh opened #129 "DNF SORT"
## 🚀 Feature

DNF sort

### Have you read the Contribution Guidelines?

yes

## Pitch

3 random number can be sorted in linear time that does not consume any extra space

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 17:48] SUDHANSHKESHARWANI opened #130 "Fibonacci Series"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

(Write your answer here.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -  Sudhansh
Javascript -
Kotlin -
Python -

[2021-10-01 17:48] SurendarSingh commented on #129
@manan025 Ok? Assign me C++
Thanks

[2021-10-01 17:51] tm2k23 opened #132 "Binary Tree Recursive Traversals ( Inorder , Preorder , Postorder )"
## 🚀 Feature

I would like to add all 3 traversals of the binary tree recursively

### Have you read the Contribution Guidelines?

Yes

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 17:51] tm2k23 commented on #132
@manan025   Please assign C++ to me

[2021-10-01 17:53] manan025 commented on #130
@SUDHANSHKESHARWANI Do you want to work on this? If so, in which language?

[2021-10-01 17:54] tm2k23 opened #133 "Morris Traversal || O(1) Space ( Inorder , Preorder )"
## 🚀 Feature

I would like to add morris traversal of binary trees which is done in O(1) space

### Have you read the Contribution Guidelines?

Yes

## Pitch

=> No recursion
=> No stacks
=> O(1) Space

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 17:54] tm2k23 commented on #133
@manan025 please assign C++ to me

[2021-10-01 17:56] tm2k23 commented on #130
@manan025 can u please assign C++ to me, I will be describing

1. Recursive
2. Iterative in O(N) space
3. Iterative in O(1) space

[2021-10-01 17:59] manan025 commented on #129
@SurendarSingh - C++ assigned

[2021-10-01 18:01] Mudit018 commented on #132
@manan025 Please assign C to me

[2021-10-01 18:03] tm2k23 opened #135 "Pascal's Triangle"
## 🚀 Feature

Print n rows of Pascal's Triangle

### Have you read the Contribution Guidelines?

Yes

## Pitch

![PascalTriangleAnimated2](https://user-images.githubusercontent.com/67680364/135666600-614a9eab-4078-4754-be60-7417d932b83d.gif)

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 18:03] tm2k23 commented on #135
@manan025 please assign c++ to me

[2021-10-01 18:04] tm2k23 commented on #129
@manan025 Please assign C to me

[2021-10-01 18:05] manan025 commented on #130
Sure @tm2k23 assigned C++

[2021-10-01 18:06] Noxbolt commented on #130
Can I work in python?

[2021-10-01 18:07] vinayakj592 commented on #135
Please assign Java to me !

[2021-10-01 18:07] manan025 commented on #130
@Noxbolt Python assigned

[2021-10-01 18:07] vinayakj592 commented on #135
@manan025 Please assign Java to me

[2021-10-01 18:08] Yasas4D commented on #135
I would like to contribute this on Python Language! @manan025  Please assign Python to me!

[2021-10-01 18:10] vinayakj592 commented on #51
I am sorry unassigne me from C , I thought I was assigned in C++ , but by mistake I wrote C in place of C++

[2021-10-01 18:15] manan025 commented on #135
C++ - @tm2k23
Java - @vinayakj592
@Yasas4D - Python
assigned

[2021-10-01 18:17] manan025 commented on #133
C++ Assigned @tm2k23

[2021-10-01 18:18] SUDHANSHKESHARWANI commented on #130
I want to do it in Java

[2021-10-01 18:18] jdrodriguezh commented on #135
@manan025 can you assign the javascript version to me, please?

[2021-10-01 18:25] JatinKumarMahaldar commented on #130
can i work on it with C.

[2021-10-01 18:27] prakharshukla48 commented on #132
Please assign python to me

[2021-10-01 18:30] tm2k23 commented on #127
Hey, @manan025 just had a query.
Is there something like I need to link PR with the issue?
Or do I just need to fork, clone, add, commit, push, and pull?

[2021-10-01 18:32] manan025 commented on #129
@tm2k23 - C assigned

[2021-10-01 18:33] ADV1K commented on #130
i would like to implement fibonacci series in js. can you assign this to me?

[2021-10-01 18:37] manan025 commented on #51
Oh okay.

[2021-10-01 18:39] JatinKumarMahaldar commented on #135
can i work in C.

[2021-10-01 18:39] manan025 commented on #130
@SUDHANSHKESHARWANI - Java
@JatinKumarMahaldar - C
@ADV1K - JS
Assigned

[2021-10-01 18:43] manan025 commented on #132
C - @Mudit018
C++ - @tm2k23
Python - @prakharshukla48
assigned

[2021-10-01 18:45] manan025 commented on #127
Yes you need to mention the issue you have solved in PR.
And rest follow the normal procedure to make PR.

[2021-10-01 18:46] manan025 commented on #135
C - @JatinKumarMahaldar
assigned

[2021-10-01 18:46] manan025 commented on #135
@jdrodriguezh - JS assigned

[2021-10-01 18:48] tm2k23 commented on #127
ok

[2021-10-01 18:52] omjasharma commented on #51
I would like to contribute in C

[2021-10-01 18:53] sachin4627 commented on #89
@manan025 I see Kadane Algorithm is already present under the Java folder although it was assigned to me. Please let me know what is to be done.

[2021-10-01 18:54] manan025 commented on #51
C - @omjasharma
assigned

[2021-10-01 19:02] tm2k23 commented on #133
@manan025 I forked the repo, in the morning itself, after that I made a PR which was merged, shall I add things in the same cloned repo which was forked in the morning, or do I need to fork again?

[2021-10-01 19:02] manan025 commented on #89
You create PR but with a different file name. I'll accept yours too. I'm sorry for messing it up from my end. 😓

[2021-10-01 19:04] manan025 commented on #133
You can create a new branch in that repo and work in that branch.
Or you may create new fork repo (any should work)
I'd recommend the first one however if you are new to github/ git, you can do the 2nd one.

[2021-10-01 19:08] Sakshi2020037 opened #148 "Merging Two Sorted Linked lists"
## 🚀 Feature

Merge two sorted linked lists

### Have you read the Contribution Guidelines?

Yes

## Pitch

Important and basic operation with linked list.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 19:09] Sakshi2020037 commented on #148
please assign c++ to me

[2021-10-01 19:17] manan025 commented on #148
C++ - @Sakshi2020037
Assigned

[2021-10-01 19:18] saloni33 opened #151 "Level Order Traversal in Binary Search Tree"
## 🚀 Feature

Level Order Traversal in Binary Search Tree (BST)

### Have you read the Contribution Guidelines?

Yes

## Pitch

This is issued to solve many questions in competitive coding and is more efficient.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 19:19] sumanthtatipamula commented on #62
@manan025 I would like to contribute in kotlin

[2021-10-01 19:19] saloni33 commented on #151
@manan025  kindly assign me this issue in c++

[2021-10-01 19:20] tm2k23 commented on #133
ok, I will create a new branch, thanks a lot for helping me at each stage, learning a lot

[2021-10-01 19:22] ishika22 commented on #151
@manan025 I can do this in JAVA

[2021-10-01 19:30] manan025 commented on #62
Kotlin - @sumanthtatipamula  assigned

[2021-10-01 19:30] sachin4627 commented on #148
@manan025 could you please assign to me for java

[2021-10-01 19:31] nikhil072000 opened #154 "Gold mine problem using DP"
## 🚀 Feature

Find out the maximum amount of gold, miner can collect using DP. A gold mine of m*n dimensions is given, each element contains a positive integer which is the amount of gold. Initially miner starts from first column but, from any row. Then start moving towards the cell diagonally up right or right or diagonally down right.

### Have you read the Contribution Guidelines?

Yes

## Pitc

[2021-10-01 19:39] Mudit018 opened #155 "DFS and BFS in a 2D grid"
## 🚀 Feature

DFS and BFS traversal in a 2d grid

### Have you read the Contribution Guidelines?

YES

## Pitch

As DFS and BFS are the backbones of graphs and they are especially important in 2d grids.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 19:40] Mudit018 commented on #155
@manan025 Please assign c++ in this issue to me

[2021-10-01 19:42] manan025 commented on #154
Java assigned @nikhil072000

[2021-10-01 19:44] anushkarthik05 commented on #154
Hi @manan025. Can you assign me C++?

[2021-10-01 19:45] KajalBhalghare commented on #89
I'd like to contribute in Javascript implementation. could you assign it to me?

[2021-10-01 19:46] manan025 commented on #148
@sachin4627 assigned java

[2021-10-01 19:47] manan025 commented on #151
@saloni33 - C++
@ishika22 - Java
Assigned

[2021-10-01 19:49] manan025 commented on #155
Assigned CPP @Mudit018

[2021-10-01 19:50] manan025 commented on #154
@anushkarthik05 - Assigned CPP

[2021-10-01 19:51] manan025 commented on #89
@KajalBhalghare  - JS assigned

[2021-10-01 19:54] Ashutoshpandey-coder opened #158 "Euclid Algorithm for GCD (Greatest common divisor)"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

(Write your answer here.)
Yes , I read all the guidlines .

## Pitch

(Please explain why this feature should be implemented and how it would be used.)
It is the best way of finding the Greatest Common Divisor .
  Euclid Algo -> According to this algorithm if b is sma

[2021-10-01 19:57] manan025 commented on #158
Which language do you want to work on @Ashutoshpandey-coder ?

[2021-10-01 19:59] Palak-2109 opened #159 "Partition equal subset sum"
## 🚀 Feature

writing code for partition equal subset sum problem

### Have you read the Contribution Guidelines?

Yes

## Pitch

Contributing to the DP portion

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-01 19:59] Palak-2109 commented on #159
i wanna contribute it in cpp

[2021-10-01 20:02] manan025 commented on #159
@Palak-2109 - assigned cpp

[2021-10-01 20:02] Ashutoshpandey-coder commented on #158
in java language or if you want anyother I can also do it , familiar with c , cpp .

[2021-10-01 20:05] manan025 commented on #158
@Ashutoshpandey-coder - Java assigned
(If you want to work in any other language, you can ask here after you complete it in java)

[2021-10-01 20:14] Ashutoshpandey-coder commented on #158
okay sure

[2021-10-01 21:02] tm2k23 commented on #158
@manan025 add me for c++

[2021-10-01 21:20] crapthecoder opened #169 "Kruskal's Minimum Spanning Tree"
## 🚀 Feature

Find the Minimum Spanning Tree using Kruskal's algorithm

### Have you read the Contribution Guidelines?

Yes

## Pitch

Kruskal's minimum spanning tree is used to find the minimum sum tree of an undirected graph, which has many practical uses (such as in maps)

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
P

[2021-10-01 21:20] crapthecoder commented on #169
C++

[2021-10-01 21:24] Yash091 commented on #159
@manan025  i want to contribute it in C.

[2021-10-01 21:38] Yash091 opened #172 "sieve of eratosthenes"
## 🚀 Feature

Sieve of eratosthenes is the algorithm to find all the prime numbers less than or equal to a given integer n.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Many companies focus on more advanced algorithms and sieve of eratosthenes is used frequently in many questions and is also an advanced algorithm.

## Assignees

(Do not make changes in this section until asked t

[2021-10-01 21:39] Yash091 commented on #172
@manan025  I want to contribute in it in C++.

[2021-10-01 21:40] saloni33 opened #173 "Segment Tree"
## 🚀 Feature

A segment tree is a data structure used to store information about array segments and answer segment queries efficiently.

### Have you read the Contribution Guidelines?

Yes

## Pitch

The important and advanced algorithm used in competitive programming.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python

[2021-10-01 21:40] saloni33 commented on #173
@manan025 I would like to contribute for c++

[2021-10-01 21:47] Yash091 commented on #112
@manan025  I want to contribute in C. Please assign me.

[2021-10-01 21:48] Aaryan8751 commented on #112
@manan025 I would like to contribute in Python

[2021-10-02 02:48] Diegoslourenco commented on #130
@manan025  Can I do this in kotlin?

[2021-10-02 03:22] nakullondhe commented on #113
Is it still taking in Assignments

[2021-10-02 04:39] ajaynair710 commented on #159
i want to contribute it in Python

[2021-10-02 05:30] manan025 commented on #158
@tm2k23 - C++ assigned

[2021-10-02 05:30] manan025 commented on #169
Assigned C++

[2021-10-02 05:31] manan025 commented on #172
@Yash091 C++ assigned to you

[2021-10-02 05:33] Noxbolt commented on #172
I want to work in Python

[2021-10-02 05:33] manan025 commented on #173
@saloni33 - Assigned

[2021-10-02 05:34] manan025 commented on #112
@Yash091 - C
@Aaryan8751 - Python assigned

[2021-10-02 05:36] manan025 commented on #130
@Diegoslourenco - Kotlin assigned

[2021-10-02 05:38] manan025 commented on #113
@nakullondhe Yes for some languages. You can check unassigned language in Assignees section of #113

[2021-10-02 05:39] manan025 commented on #159
@Yash091 - C
@ajaynair710 - Python assigned

[2021-10-02 05:40] manan025 commented on #172
@Noxbolt python assigned

[2021-10-02 05:50] sumanthtatipamula commented on #24
@manan025 I would like to contribute in kotlin

[2021-10-02 06:01] nakullondhe commented on #113
Can you assign me with Golang, Recursive or non-recursive

[2021-10-02 06:48] Yash091 opened #177 "Topological Sorting"
## 🚀 Feature

Topological Sorting is a linear ordering of vertices such that for every directed edge u v, vertex u comes before v in the ordering. Topological Sorting for a graph is not possible if the graph is not a DAG.

### Have you read the Contribution Guidelines?

YES

## Pitch

Topological Sorting is advanced algorithm mainly used for scheduling jobs from the given dependencies among jobs

[2021-10-02 06:48] Yash091 commented on #177
@manan025  i would like to contribute in C++. Please assign it to me.

[2021-10-02 07:10] Athi223 commented on #158
@manan025 I would like to contribute in Python. Could you assign me this issue?

[2021-10-02 07:16] Ashutoshpandey-coder commented on #158
I would like to do in C also. Could you assign me?

[2021-10-02 07:28] JatinKumarMahaldar commented on #130
@manan025 please have a look at #161

[2021-10-02 07:37] manan025 commented on #158
@Ashutoshpandey-coder - C assigned

[2021-10-02 07:38] manan025 commented on #177
@Yash091 C++ assigned

[2021-10-02 07:39] manan025 commented on #24
@sumanthtatipamula kotlin assigned

[2021-10-02 07:40] manan025 commented on #113
@nakullondhe - Go Recursive approach (If you want to do Non recursive too, you may ask here after creating PR for recursive).

[2021-10-02 07:49] arihantthriwe commented on #177
@manan025 i would like to contribute in C. Please assign it to me. :)

[2021-10-02 08:01] lucblassel commented on #172
Hi I would like to give the go version a try if possible

[2021-10-02 08:03] codesanta142 commented on #177
@manan025  i would like to contribute in C#. Please assign it to me.

[2021-10-02 08:05] manan025 commented on #172
@lucblassel - Go - Assigned

[2021-10-02 08:06] manan025 commented on #177
@codesanta142 Sure - C# Assigned

[2021-10-02 08:06] manan025 commented on #177
@arihantthriwe - C assigned

[2021-10-02 08:08] sachin4627 commented on #172
@manan025 I would like to contribute in java.
Could you please assign it to me.
Thanks You!!

[2021-10-02 08:14] manan025 commented on #172
@sachin4627 assigned Java

[2021-10-02 08:23] Yash091 opened #189 "Tarjan's algorithm for SCC"
## 🚀 Feature

Tarjan's algorithm is used to find the single connected component in a directed graph.

### Have you read the Contribution Guidelines?

YES

## Pitch

This is an efficient and advanced algorithm for finding SCC.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-02 08:23] Yash091 commented on #189
@manan025  Please assign this to me in C++.
Thank you.

[2021-10-02 08:40] manan025 commented on #189
@Yash091 - C++ assigned

[2021-10-02 08:49] anisha16 commented on #135
Please assign java or python to me.

[2021-10-02 08:58] gopheramit commented on #189
@manan025 I can do this in golang.

[2021-10-02 09:04] gopheramit commented on #130
@manan025 i would like to this in golang

[2021-10-02 09:06] saloni33 opened #196 "Insertion in Linked Lisst"
## 🚀 Feature

Insertion In a Linked List

### Have you read the Contribution Guidelines?

YES

## Pitch

Important Topic - Asked in many company's interviews

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-02 09:07] saloni33 commented on #196
@manan025  kindly assign me for c++

[2021-10-02 09:10] manan025 commented on #135
@anisha16 - Python assigned

[2021-10-02 09:10] manan025 commented on #135
@anisha16 python is already assigned to someone else.

[2021-10-02 09:12] manan025 commented on #130
@gopheramit Go assigned

[2021-10-02 09:13] manan025 commented on #196
@saloni33 C++ assigned

[2021-10-02 09:36] J-e-e-t opened #199 "Jump Search"
## 🚀 Feature

Jump Search is a searching algorithm for sorted arrays. The basic idea is to check fewer elements (than linear search) by jumping ahead by fixed steps or skipping some elements in place of searching all elements.

### Have you read the Contribution Guidelines?

YES

## Pitch

In Jump search, Instead of traversing the whole array one by one in linear fashion, we traverse the array by

[2021-10-02 09:37] J-e-e-t commented on #199
please assign me this Issue in c++

[2021-10-02 09:42] gopheramit commented on #130
#200

[2021-10-02 09:47] gaurav1058 commented on #172
@manan025 i would like to contribute in c.

[2021-10-02 09:56] devjak26 opened #202 "modular inverse function"
## 🚀 Feature

  A modular multiplicative inverse of an integer a is an integer x such that a⋅x is congruent to 1 modular some modulus m.

### Have you read the Contribution Guidelines?

 yes

## Pitch

 This is an advanced algorithm that is asked in interviews so it would be helpful for people.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Jav

[2021-10-02 09:57] devjak26 commented on #202
@manan025 i want to work in c++

[2021-10-02 10:07] Osama-aj commented on #172
@manan025 sorry, I am new and this is my first hacktoberfest,
so I just need to create a console app that detect all the prime numbers less than or equal to a given integer n?

[2021-10-02 10:12] gopheramit commented on #62
@manan025  I would like to this in Golang.

[2021-10-02 10:13] gopheramit commented on #124
@manan025  I would like to this in Golang.

[2021-10-02 10:13] gopheramit commented on #28
@manan025  I would like to this in Golang.

[2021-10-02 10:15] gopheramit commented on #51
@manan025  I would like to this in Golang.

[2021-10-02 10:15] luv2001 opened #207 "Coin Change DP"
## 🚀 Feature

Coin Change Problem
if we want to make change for N cents, and we have infinite supply of each of S = { S1, S2, .. , Sm} valued coins, how many ways can we make the change?

### Have you read the Contribution Guidelines?

yes

## Pitch

The Coin Change Problem is considered by many to be **essential** to understanding the paradigm of programming known as Dynamic Programming.

## Assi

[2021-10-02 10:15] luv2001 commented on #207
Please assign me this issue in C++

[2021-10-02 10:33] sumanthtatipamula commented on #108
@manan025 I would like to contribute in Kotlin

[2021-10-02 10:37] J-e-e-t opened #209 "Spiral Traversal of a 2D Matrix"
## 🚀 Feature

A 2D matrix will be given and you have to traverse the whole matrix in Spiral form

### Have you read the Contribution Guidelines?

YES

## Pitch

We will traverse the whole matrix in a Spiral manner ( Clock wise )

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-02 10:40] DoyelA commented on #130
Please assign me for C# implementation of Fibonacci series

[2021-10-02 10:43] axlts commented on #135
@manan025 Hi! Please assign Golang to me.

[2021-10-02 10:43] J-e-e-t commented on #209
please Assign me this Issue in c++

[2021-10-02 10:44] nikhil072000 commented on #196
please assign this issue to me, for JAVA

[2021-10-02 10:58] J-e-e-t opened #210 "Rotate Array"
## 🚀 Feature

Given an array, rotate the array to the right by k steps, where k is non-negative.

### Have you read the Contribution Guidelines?

YES

## Pitch

An array will be given and a value k. You have to rotate the array to the right by k steps where k is non negative integer.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
K

[2021-10-02 10:59] J-e-e-t commented on #210
Please Assign me this issue in c++

[2021-10-02 11:03] psyv2 opened #212 "binary exponentiation"
## 🚀 Feature

exponentiating by squaring is a general method for fast computation of large positive integer powers of a number.

### Have you read the Contribution Guidelines?

yes

## Pitch

binary exponentiation is a trick which allows to calculate an using only O (logn) multiplications instead of o(n) multiplication.

## Assignees

(Do not make changes in this section until asked to do so)
C -

[2021-10-02 11:04] psyv2 commented on #212
@manan025  I want to work in c++

[2021-10-02 11:15] CC-KEH commented on #196
please assign me this issue, for Java

[2021-10-02 11:20] DoyelA commented on #196
please assign me this issue for c#

[2021-10-02 11:33] devjak26 opened #213 "Merge sort"
## 🚀 Feature

 merge sort is an efficient, and comparison-based sorting algorithm.

### Have you read the Contribution Guidelines?

 YES

## Pitch

 Merge sort is one of the most efficient sorting algorithms. It works on the principle of Divide and Conquers.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-02 11:35] devjak26 commented on #213
@manan025  i want to work in c++

[2021-10-02 11:49] nikhil072000 opened #214 "Climb Stairs With Minimum Moves using DP"
## 🚀 Feature

Climb Stairs with minimum moves: Total no. of stairs and value for each step is given, these value represents till how far from the step you could jump to in a single move. Starting from 0th step, we've to reach to the top of stair case in minimum no. of moves.

### Have you read the Contribution Guidelines?

Yes

## Pitch

This is a very popular question related to arrays and DP, as

[2021-10-02 11:53] Yash091 commented on #207
@manan025  i wanna contribute in C.

[2021-10-02 11:54] Yash091 commented on #212
@manan025  Please assign me this in C.

[2021-10-02 11:58] Yash091 commented on #214
@manan025  Please assign me this in C++.

[2021-10-02 12:06] prasanna16-12 commented on #24
can you assign me for javaScript?

[2021-10-02 12:09] prasanna16-12 commented on #132
assign me for javascript.

[2021-10-02 12:12] Noxbolt commented on #158
I can contribute in python

[2021-10-02 12:20] laxmipandey47 commented on #172
@manan025 I want to contribute in C.

[2021-10-02 12:20] Aditya01237 commented on #213
i want to work on java

[2021-10-02 12:22] devjak26 opened #217 "Bellman-Ford algorithm"
## 🚀 Feature

 Bellman-Ford algorithm is used to find the shortest path from the source vertex to every vertex in a weighted graph.

### Have you read the Contribution Guidelines?

Yes

## Pitch

 Bellman ford algorithm can also find the shortest distance to every vertex in the weighted graph even with the negative edges.

## Assignees

(Do not make changes in this section until asked to do so)
C

[2021-10-02 12:22] devjak26 commented on #217
@manan025  kindly assign me for c++

[2021-10-02 13:23] nikhil072000 opened #220 "Balanced Brackets ( using stacks )"
## 🚀 Feature

Balanced Brackets: Given a string, representing an expression. We've to check, if the expression is balanced ( closing brackets and opening brackets match up as well )

### Have you read the Contribution Guidelines?

Yes

## Pitch

Such problems helps in logic building and was also asked in interviews. please assign this to me for JAVA.

## Assignees

(Do not make changes in this sec

[2021-10-02 13:59] jfernancordova commented on #78
@manan025 I already created a PR for Java.

[2021-10-02 14:01] Osama-aj commented on #135
@manan025  Please assign C# to me

[2021-10-02 14:02] anshkush92college commented on #212
@manan025 I would like to work on this in JAVA

[2021-10-02 14:45] codesanta142 commented on #220
I take up this in C++

[2021-10-02 14:45] psyv2 commented on #220
i would like to contribute in C++. Please assign it to me

[2021-10-02 14:55] shashank-suresh commented on #213
Could I work on this in C?

[2021-10-02 15:15] jfernancordova commented on #169
@manan025 Java please.

[2021-10-02 15:23] Mudit018 commented on #173
@manan025 I would like to contribute in c

[2021-10-02 15:29] jfernancordova commented on #155
@manan025 Java please.

[2021-10-02 15:43] 99anjali commented on #213
please assign me .I want to work using python

[2021-10-02 15:46] 99anjali commented on #129
please assign using python to me

[2021-10-02 16:00] Kshma29 commented on #130
@manan025 hey, I want to implement this in C++.

[2021-10-02 16:03] Kshma29 commented on #212
@manan025 I want to work on this in C++.

[2021-10-02 16:13] Kshma29 commented on #113
@manan025 I am willing to do non-recursive implementation in C++.

[2021-10-02 16:27] Abhiram-Joshi commented on #83
I would like to do this in python

[2021-10-02 16:27] nakullondhe commented on #196
ASsign for C

[2021-10-02 16:34] jfernancordova commented on #132
@manan025 please assign Java to me.

[2021-10-02 16:42] rushikeshadhav opened #234 "Some famous interview questions are missing. Please assign me this, i will do it asap"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

(Write your answer here.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)
These questions needs to be addedd
Majority element
Rat in a maze
Pascal's triangle

## Assignees

(Do not make changes in this section until asked t

[2021-10-02 16:56] tm2k23 commented on #234
Pascal's triangle is there

[2021-10-02 17:22] Diegoslourenco commented on #130
@manan025 I submitted the PR #235

[2021-10-02 17:22] rushikeshadhav commented on #234
Ok I will add these more problems
Median of two sorted arrays of different sizes
Allocate minimum number of pages
Longest Palindrome in a string

[2021-10-02 17:51] SOURHEAD commented on #158
I can contribute in python @manan025

[2021-10-02 19:44] Sejal253 commented on #213
I want to work using javascript

[2021-10-02 19:56] manan025 commented on #199
@J-e-e-t - C++ assigned

[2021-10-02 19:57] manan025 commented on #202
@devjak26 - C++ assigned

[2021-10-02 19:59] manan025 commented on #62
@gopheramit - Go assigned

[2021-10-02 20:01] manan025 commented on #124
@gopheramit - Go assigned

[2021-10-02 20:01] manan025 commented on #28
@gopheramit - Go assigned

[2021-10-02 20:02] manan025 commented on #51
@gopheramit - Go assigned

[2021-10-02 20:04] manan025 commented on #207
@luv2001 - C++
@Yash091 - C
assigned

[2021-10-02 20:05] manan025 commented on #210
@J-e-e-t - C++ assigned

[2021-10-02 20:07] manan025 commented on #209
@J-e-e-t - C++

[2021-10-02 20:07] manan025 commented on #108
@sumanthtatipamula - Kt -assigned

[2021-10-02 20:11] manan025 commented on #214
@nikhil072000 - Java
@Yash091 -C++ assigned

[2021-10-02 20:13] manan025 commented on #24
@prasanna16-12 - JS

[2021-10-02 20:14] manan025 commented on #172
@Osama-aj Yes
Assigned C# to you

[2021-10-02 20:15] Sakshi2020037 opened #240 "Doubly Linked list"
## 🚀 Feature

Insertion and Deletion in Doubly Linked list

### Have you read the Contribution Guidelines?

yes

## Pitch

Important topic of DS , hence adding it

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-02 20:15] Sakshi2020037 commented on #240
Please assign this in c++ to me.

[2021-10-02 20:15] manan025 commented on #172
@laxmipandey47 On the basis of first come, first serve, I'll have to give C to someone else.

[2021-10-02 20:15] manan025 commented on #172
@gaurav1058 - C

[2021-10-02 20:17] sbaijal commented on #207
Hi @manan025
I want to contribute in java

[2021-10-02 20:17] manan025 commented on #217
@devjak26 - C++ assigned

[2021-10-02 20:18] Mudit018 commented on #202
@manan025 i want to work in c

[2021-10-02 20:19] manan025 commented on #78
@jfernancordova Merged, will add hacktoberfest accepted label soon.l

[2021-10-02 20:20] manan025 commented on #135
@Osama-aj - C#
@axlts - Go assigned

[2021-10-02 20:22] manan025 commented on #220
@nikhil072000 - Java
@codesanta142 - C++
assigned

[2021-10-02 20:23] anshkush92college commented on #214
@manan025 Please assign me this in C

[2021-10-02 20:24] manan025 commented on #169
@jfernancordova java - assigned

[2021-10-02 20:26] manan025 commented on #173
@Mudit018 - C

[2021-10-02 20:26] manan025 commented on #155
@jfernancordova - Java assigned

[2021-10-02 20:27] manan025 commented on #129
@99anjali - Python assigned

[2021-10-02 20:29] manan025 commented on #212
@Kshma29 - C++ already assigned to someone as per first come first serve basis.

[2021-10-02 20:30] anshkush92college commented on #68
@manan025 can you assign this to me in C.

[2021-10-02 20:30] manan025 commented on #212
C - @Yash091
C++ - @psyv2
Java - @anshkush92college
Assigned

[2021-10-02 20:31] manan025 commented on #113
@Kshma29 - C++ non recursive assigned

[2021-10-02 20:34] mofachhalhossain commented on #217
I want to contribute this algorithm in java.Assign me please.

[2021-10-02 20:37] jfernancordova commented on #155
Thank you, @manan025, I already made this PR.

[2021-10-02 20:37] manan025 commented on #83
@Abhiram-Joshi - Python assigned

[2021-10-02 20:38] susheel-kumar-1998 commented on #209
please assign me issue to solve in java

[2021-10-02 20:40] jfernancordova commented on #169
Thank you, @manan025 I already pushed my PR.

[2021-10-02 20:44] manan025 commented on #196
@nikhil072000 since you are also working on other issues, I'm not assigning Java.

[2021-10-02 20:45] Sakshi2020037 opened #242 "Stock Span Problem"
## 🚀 Feature

Calculate span of stock’s price for all n days where a series of n daily price quotes for a stock is given.
Ex; if an array of 7 days prices is given as {100, 80, 60, 70, 60, 75, 85}, then the span values for corresponding 7 days are {1, 1, 1, 2, 1, 4, 6}

### Have you read the Contribution Guidelines?

Yes

## Pitch

One of the important problems so adding this.

## Assignees

(Do n

[2021-10-02 20:45] Sakshi2020037 commented on #242
please assign c++ to me

[2021-10-02 20:46] manan025 commented on #196
C - @nakullondhe
C# - @DoyelA
@CC-KEH Java
assigned

[2021-10-02 20:47] manan025 commented on #132
@prasanna16-12 - JS
@jfernancordova - Java
assigned

[2021-10-02 20:49] jfernancordova commented on #132
Thank you @manan025, also, I did this PR.

[2021-10-02 20:49] manan025 commented on #130
@Kshma29 - C++ assigned

[2021-10-02 20:50] manan025 commented on #130
@DoyelA - C# assigned

[2021-10-02 20:50] Sakshi2020037 commented on #210
assign c to me

[2021-10-02 20:52] manan025 commented on #234
Create individual issues for algorithms.

[2021-10-02 20:52] #234 closed

[2021-10-02 20:52] manan025 commented on #158
@Noxbolt - Python assigned

[2021-10-02 20:52] manan025 commented on #158
@SOURHEAD He asked first so it will be assigned to him.

[2021-10-02 20:54] manan025 commented on #240
@Sakshi2020037 - C++ assigned

[2021-10-02 20:55] manan025 commented on #207
@sbaijal - Java assigned to you

[2021-10-02 20:56] manan025 commented on #213
#60 duplicate

[2021-10-02 20:56] #213 closed

[2021-10-02 21:17] manan025 commented on #202
@Mudit018 - C assigned

[2021-10-02 21:18] manan025 commented on #214
@anshkush92college - C assigned

[2021-10-02 21:18] manan025 commented on #68
@anshkush92college - C assigned

[2021-10-02 21:19] Mudit018 commented on #202
@manan025 Please assign me c again

[2021-10-02 21:19] manan025 commented on #217
@mofachhalhossain - Assigned java

[2021-10-02 21:20] manan025 commented on #209
@susheel-kumar-1998 - Java assigned

[2021-10-02 21:21] manan025 commented on #242
Assigned C++ @Sakshi2020037

[2021-10-02 21:23] manan025 commented on #210
@Sakshi2020037 - C assigned

[2021-10-02 21:24] manan025 commented on #202
Sure @Mudit018

[2021-10-02 22:06] saloni33 opened #245 "Validate Binary Search Tree"
## 🚀 Feature

To check whether a given tree is a valid Binary Search Tree (BST) or not.

### Have you read the Contribution Guidelines?

YES

## Pitch

An important topic for competitive coding.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-02 22:07] saloni33 commented on #245
@manan025  kindly assign me for c++

[2021-10-03 01:15] KanishkKhurana commented on #135
@tm2k23 please assign C++ to me.
i'd love to contribute to this project !

[2021-10-03 01:17] KanishkKhurana commented on #28
is c++ available ?
@manan025

[2021-10-03 01:55] nakullondhe commented on #240
Assign C Please

[2021-10-03 02:58] sumanthtatipamula commented on #135
@manan025 I would like to contribute in kotlin

[2021-10-03 03:49] codenipun commented on #245
@manan025 assign me in java

[2021-10-03 03:51] SOURHEAD commented on #210
assign in python to me please

[2021-10-03 04:11] Sharayu1071 opened #247 "circular queue in c"
## 🚀 Feature

how to implement a circular queue in C using array.

### Have you read the Contribution Guidelines?

Yep!

## Pitch

Queue is one of the most important DS and everyone should know how to implement queue using array.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-03 04:12] Sharayu1071 commented on #247
plz assign me this issue.

[2021-10-03 04:26] SOURHEAD commented on #199
please assign me in python

[2021-10-03 04:27] SOURHEAD commented on #212
please assign me in python

[2021-10-03 04:47] ravi0213 commented on #173
@manan025 I would like to code segment tree in java.

[2021-10-03 04:50] ravi0213 commented on #245
@manan025 I would like to code this in C.

[2021-10-03 05:41] nikhil-aggarwal5 commented on #196
@manan025 please correct me if I'm wrong,
According to rules we can have 4 working issues at a time. This was supposed to be the my 4th. Since you've already assigned this to someone else. Shall I apply for other issues ?

[2021-10-03 05:47] 99anjali commented on #129
@manan025 Please look into my changes.

[2021-10-03 05:56] 99anjali opened #255 "Queue Implementation Using Array"
## 🚀 Feature
Implement queue using array and perform various stack operations

### Have you read the Contribution Guidelines?

Yes

## Pitch

It is one of the basic data structure which we get to know while starting DSA.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-03 05:57] 99anjali commented on #255
@manan025 assign this to me in c++

[2021-10-03 05:57] 99anjali commented on #255
@manon assign this to me in python.

[2021-10-03 06:10] codenipun opened #257 "Burning Tree Problem"
## 🚀 Feature

Find the minimum time required to burn the complete binary tree if the target is set on fire.

### Have you read the Contribution Guidelines?

(Write your answer here.)

## Pitch

It is one of the basic data structure which we get to know while starting DSA.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Pyth

[2021-10-03 06:10] WajihaFatim commented on #247
/assign

[2021-10-03 06:11] codenipun commented on #257
@manan025  Assgin me this issue in C++

[2021-10-03 06:32] WajihaFatim commented on #247
please assign this to me

[2021-10-03 06:37] sumanthtatipamula commented on #132
@manan025  I would like to contribute in kotlin

[2021-10-03 12:34] WajihaFatim commented on #257
Please assign thia issue to me

[2021-10-03 12:55] J-e-e-t opened #267 "Intersection of Two Arrays"
## 🚀 Feature

Given two integer arrays nums1 and nums2, return an array of their intersection. Each element in the result must be unique.

### Have you read the Contribution Guidelines?

YES

## Pitch

Asked in coding interviews of many top tech companies

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-03 12:55] J-e-e-t commented on #267
Please Assign me this issue in c++.

[2021-10-03 14:10] joyeta148 commented on #14
@manan025 hey can you assign me for cpp?

[2021-10-03 14:21] JatinKumarMahaldar commented on #210
Hey @manan025, can i work on it in java

[2021-10-03 15:34] sudhir512kj commented on #93
@manan025 I am having an issue when I am pushing code after creating a new branch
[code]

[2021-10-03 16:00] devjak26 opened #269 "Negative cycle in directed graph"
## 🚀 Feature

 if a negative cycle is present in a given directed graph then print that cycle.

### Have you read the Contribution Guidelines?

 yes

## Pitch

 The important and advanced algorithm used in competitive programming.

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-03 16:01] devjak26 commented on #269
@manan025 please assign me in c++

[2021-10-03 16:17] A-Spiral-Forge commented on #267
Please Assign me this issue in python

[2021-10-03 16:25] A-Spiral-Forge commented on #199
please assign me this Issue in python

[2021-10-03 17:18] lucblassel commented on #220
Hi I would like to try my hand at go

[2021-10-03 17:20] lucblassel commented on #158
I'll try my hand at go if possible

[2021-10-04 03:19] AkhileshManda commented on #220
I can take this up in python

[2021-10-04 08:26] anu-phoenix opened #275 "Problem related to hashing"
## 🚀 Feature

For a user input array check the pair with given sum is present in the array or not.

### Have you read the Contribution Guidelines?

yes

## Pitch

you have to take a array and its size n as a input from user and have to print "yes" (without quotes) if there is a pair in the array with sum k(user input) and "no" (without quotes) if it is not present.
you have to use hashing for solv

[2021-10-04 08:28] A-Spiral-Forge commented on #275
Assign in python please

[2021-10-04 09:39] anu-phoenix commented on #275
please assign in language C++

[2021-10-04 13:13] devjak26 opened #277 "Longest substring without repeating characters"
## 🚀 Feature

 length of the longest substring without repeating characters.

### Have you read the Contribution Guidelines?

Yes

## Pitch

 Important question - Asked in many company's interviews

## Assignees

(Do not make changes in this section until asked to do so)
C -
C# -
C++ -
Go -
Java -
Javascript -
Kotlin -
Python -

[2021-10-04 13:14] devjak26 commented on #277
@manan025 plz assign me in cpp

[2021-10-04 14:44] karankc23 commented on #277
@manan025 please assign me this issue in C language

[2021-10-04 17:43] susheel-kumar-1998 commented on #267
I would love to contribute in java. please assign me this issue.

[2021-10-04 17:46] susheel-kumar-1998 commented on #275
Please assign me with this issue. I would like to contribute in java.

[2021-10-04 17:51] susheel-kumar-1998 commented on #210
I have completed the code for this issue. give me permission to create pr to this issue.

[2021-10-04 18:17] prithindevotta commented on #21
@manan025 I would like to add the java program for this.

[2021-10-04 18:24] prithindevotta opened #278 "Edit Distance"
## 🚀 Feature

given two strings we need to edit the first string to make it the second given string with 3 possible types of edits:

- insert a character at any part of the string.
- replace a character with any other character.
- remove a character from any position of the string.

### Have you read the Contribution Guidelines?

Yes

## Pitch

dynamic programming question important for interviews

[2021-10-04 18:24] prithindevotta commented on #278
@manan025 I want to work on the java program for this

[2021-10-04 19:09] sudhir512kj commented on #93
@manan025 Please respond. I am waiting to raise PR.

[2021-10-04 20:48] prithindevotta commented on #159
@manan025  I'd like to contribute in java.

[2021-10-04 21:45] prithindevotta commented on #199
@manan025 I'd like to contribute in java

[2021-10-05 02:12] sudhir512kj commented on #277
@manan025 I would like to work this on using Python.

[2021-10-05 02:13] sudhir512kj commented on #275
@manan025  I would like to work on this using Python.

[2021-10-05 03:27] prasanna16-12 commented on #24
hey, @manan025 do you want me to make some changes. coz you are taking too long to review #252

[2021-10-05 06:48] ArbashHussain commented on #240
Please assign this to me for Java.

[2021-10-05 07:00] DoyelA commented on #220
@manan025 please assign me this topic for c#

[2021-10-05 07:59] shauryam-exe commented on #51
I would like to contribute in Selection Sort for Kotlin kindly assign me for it.

[2021-10-05 13:44] shauryam-exe commented on #51
I can also do Selection Sort in C++, assign me to C++ as well

[2021-10-05 20:31] manan025 opened #284 "Hacktoberfest"
According to the rules of Hacktoberfest, DSA repositories are not eligible to participate in Hacktoberfest 2021. Therefore, all the PRs you made to this/ any other DSA repo will be considered null and void.

I'm extremely sorry for any inconvenience caused.

[2021-10-05 20:34] manan025 commented on #284
The repo will be archived on October 6, 15:00 IST.